body {
    margin: 0;
    padding: 0;
    /* background-color: #2a2a2a; */
    font-family: 'Roboto Slab', serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: none;
}

.dflex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}
.center {
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    /* overflow: hidden; */
    background-color: white;
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80px;
    transition: all 0.4s ease-out;
}

.dropdown {
    /* height: 80px; */
}

/* Dropdown button */
.dropbtn {
    padding: 25px 16px;
}

  /* Add a red background color to navbar links on hover */
.dropdown .dropbtn:hover {
    font-weight: 700;
    border-bottom: 3px solid red;
    transition: 0.4s;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 80px;
    height: 100%;
}

/* Mega Menu header, if needed */
.dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    width: 33.33%;
    margin-right: 100px; 
    display:flex; 
    flex-direction: column; 
    align-items: flex-start;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.logo-name {
    font-size: 24px;
}

.logo img {
    margin-right: 10px;
    height: 35px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-icon img {
    height: 32px;
    margin-right: 10px;
}

.menu-icon img:nth-child(3) {
    margin-right: 0px;
}

.menu-item {
    margin-right: 40px;
}

.menu-item a:hover {
    cursor: pointer;
    color: red;
}

.menu-icon {
    display: flex;
    align-items: center;
}


/* slider */

.slider{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    margin-top: 80px;
}

.slider-text-block {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider-subtitle {
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 100;
}

.slider-title {
    font-size: 50px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 20px;
}

.btn-slider {
    border: 3px solid #00e1d4;
    padding: 16px 40px;
    font-size: 20px;
    /* font-weight: 100; */
    border-radius: 15px;
    margin-top: 130px;
    transition: 0.2s;

}

.btn-slider:hover {
    content: "erere";
    background: #00e1d4;
    color: white;
    /* font-weight: 700; */
    padding: 16px 50px;
    transition: 0.2s;
    letter-spacing: 1px;
}

.slider-image-block {
    background: url(../image/bg1.jpg) no-repeat center right / cover;
    width: 60%;
    overflow: hidden;
}

.slider-image-block img{
    height: 100vh;
}






@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  .sliderS {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
  }
  .sliderS::before, .sliderS::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .sliderS::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .sliderS::before {
    left: 0;
    top: 0;
  }
  .sliderS .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .sliderS .slide {
    height: 100px;
    width: 250px;
  }








.new-wear {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

.new-wear-header {
    font-size: 24px;
    font-weight: 700;
    border-bottom: 5px solid #00e1d4;
}
.wear-list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wear-item {
    display: flex;
    margin: 10px 0px;
    box-shadow: 0px 0 40px 10px #0000000d;
    transition: all 0.4s ease-out;
}

.wear-item:nth-child(4) {
    margin-right: 0px;
}

.wear-item:hover {
    box-shadow: 0px 0 40px 10px #00000040;
    transition: all 0.4s ease-out;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 15px;
}

.delivery {
    height: 400px;
}

.subscription {
    background: #4C6D6B;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
}

